.navContainerWrap {

    width: 70%;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;

    /*border: 1px solid blue;*/
}

.navLeft {;
    /*border: 1px solid deepskyblue;*/
}

.navLogo {
    width: 76px;
    height: 60px;
    background-color: aqua;
}

.navRight {
    /*border: 1px solid deeppink;*/
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
