.mainIntroWrap {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    /*transition: opacity 0.5s, transform 0.5s;*/
    /*position: relative;*/
}


.visible {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    opacity: 0;
    transform: translateY(100%);
}
